In [1]:
import pandas as pd

In [3]:
s = pd.Series(list('asdadeadesdasesda'))
s

0     a
1     s
2     d
3     a
4     d
5     e
6     a
7     d
8     e
9     s
10    d
11    a
12    s
13    e
14    s
15    d
16    a
dtype: object

In [4]:
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

In [5]:
s.value_counts()

a    5
d    5
s    4
e    3
dtype: int64

In [6]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [7]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [8]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64